body {
  font-family: "Mali", cursive;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #735d78;
}

button {
  background: none;
  color: #d1b3c4;
  border: 2px solid;
  padding: 1em 2em;
  transition: color 0.25s, border-color 0.25s, box-shadow 0.25s, transform 0.25s;
}

button:hover {
  border-color: #f7d1cd;
  color: white;
  box-shadow: 0 0.5em 0.5em -0.4em;
  transform: translateY(-0.25em);
  cursor: pointer;
}
